.container{
	width:90%;
	margin:0 auto;
	max-width:960px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:300;
}

h1{
	font-weight:100;
	font-family: "Roboto", sans-serif;
	margin-bottom:-20px;
}

img{
	height: 200px;
	width: 200px;
	background-size: cover;
	background-position: center;
	display: inline-block;
}

.item{
	float:left;
	width:22%;	
	margin-right:20px;
}

.item:nth-child(3){
	margin-right:0px;
}

a{
	text-decoration: none;
	color:#000;

	margin-bottom:-10px;
	
}

h3{
	font-weight: 200;
}



a:hover{
	color:#999;
}



img.icon{
	width:20px;
	height:20px;
	float:left;
	margin:20px 5px 20px 0px;
}

.fa{
	color:#000;
}

.fa:hover{
	color:#999;
}

.extra-icons{
	margin-bottom:20px;
}

